body {
background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../Images/386015.jpg");
    background-size: cover cover;
    background-repeat: repeat repeat;
}

html {
    font-size: 10px;
    padding: 1rem;
}

table {
    color: white;
    font-size: 2rem;
    width: 98%;
    text-align: center;
    border: 2px solid white;
    padding: 1px;
    border-width: 1px;
    border-collapse: collapse;
}

.tableShotgun {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


iframe {
    width: 560;
    height: 315;
}

.centeriframe {
    text-align: center;
}


* {
    margin: 0;
    padding: 0;
}

ul {
    text-align: center;
    list-style: none;
}

.grid-nav {
    grid-area: Menu;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

@media (max-width:700px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }
}


.flex-item {
    flex-grow: 1;
    margin: 0 10px;
    line-height: 60px;
    border: 10px solid grey;
    text-decoration: none;
    background-color: darkgray;
}

ul li a {

    text-decoration: none;
    font-size: 16px;
    font-family: arial;
    color: Black;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: Fjalla One;
}

ul li a:hover {
    color: red;
    text-decoration-line: underline;
}

p {
    color: white;
    font-family: Josefin Sans;
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: 5% auto 15%;
    grid-template-rows: 8% 20% 19% 20% 20%;
    grid-template-areas:
        "title title title"
        "Menu Menu Menu"
        "Text1 Text1 Pic"
        "Text1 Text1 Pic"
        "Text1 Text1 Pic";
    height: 1000px;
}

@media (max-width: 700px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
            "title"
            "Menu"
            "Text1"
            "Pic"
            "Pic"
            "Pic"


            "Pic2";
        height: 2200px;
    }
}


header {
    grid-area: title;

}

.grid-title {
    font-size: 4rem;
    letter-spacing: 1.5em;
    text-align: center;
}

.grid-Item {
    grid-area: Pic;
    text-align: center;
    height: 100%;
}

@media (max-width: 700px) {
    .grid-Item {
        grid-area: Pic;
        text-align: center;
        height: 90%;
    }
}

.grid-picture1 {
    width: 90%;
}


.p1 {
    grid-area: Text1;
}

.imgP1 {
    max-width: auto;
    max-width: auto;
}

.p2 {
    grid-area: Text3;
}

.grid-picture2 {
    overflow: visible;
    width: 90%;
}


.grid-pictureJoel {
    grid-area: Pic1;
    height: 170%;
    width: 100%;
    overflow: visible;
}


.grid-pictureEllie {
    grid-area: Pic3;
    width: 100%;
    height: 170%;
    overflow: visible;
}


.pGray {
    color: darkgrey;
    font-size: 20px;
    text-align: center;
    font-family: Open Sans Condensed;
}

.grid-pictureShotgun {
    height: 110%;
    width: 105%;
    margin-top: 400px;
}

@media (max-width: 700px) {
    .grid-pictureShotgun {
        height: 100%;
        width: 105%;
        margin: 0;
    }
}


.grid-pictureRifle {
    width: 100%;
    height: 110%;
    margin-top: 300px;
}

@media (max-width: 700px) {
    .grid-pictureRifle {
        height: 100%;
        width: 100%;
        margin: 0;
    }
}

h2 {
    color: seashell;
    font-family: Josefin Sans;
    font-size: 2.5rem;
    margin-bottom: 0.5em;

}

h3 {
    color: seashell;
    font-family: Josefin Sans;
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

h4 {
    color: white;
    font-family: Josefin Sans;
    font-size: 2.5rem;
    margin-bottom: 0.5em;

}

.iframe {
    width="1000";
    height: "400";
    border: 0px;
}

.tableImage {
    width="29";
    height="22";
}

.center {

    width="23";
    height="23";
}

.PartIcon {
    width="23";
    height="23";
}

td {
    text-align: center;
    border: 0.13rem solid white;
    border-collapse: collapse;
}
